@import '_variables.css';

.nav_wrapper {
    position: relative;
    height: 100px;
    width: 100%;
}

.wrapper {
    width: 100%;
    height: 80px;
    padding: 1rem;
    display: flex;
    z-index: 1000;
    position: absolute;
}

.logo {
    width: auto;
    height: 6rem;
    margin-left: 2rem;
}

.spacer {
    flex-grow: 1;
}

.nav_link {
    padding: 1rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: .04rem;
    text-decoration: none;
    color: var(--antiflash-white);
    transition: all .3s ease-in-out;
}

.nav_link:hover {
    color: var(--aquamarine);
}

.top_wave_decor {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 175px;
    position: absolute;
    overflow-x: hidden;
    background-color: var(--antiflash-white);
}

.top_wave {
    opacity: 1;
    width: 400%;
    height: 100%;
    position: absolute;
    transform: translateX(-50%) scaleY(-1);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23020D21'/%3E%3C/svg%3E") no-repeat fixed;
    background-size: cover;
}

.top_wave:nth-of-type(2) {
    bottom: 0;
    opacity: 0.8;
    transform: translateX(-45%) scaleY(-1);
}

.top_wave:nth-of-type(3) {
    bottom: 0;
    opacity: 0.5;
    transform: translateX(-40%) scaleY(-1);
}